body {
  color: #0D244F;
  font-family:sans-serif;
  text-align: center;
}
a {
  font-weight: bolder;
  color : #0D244F;
  text-decoration: none;
}
a:hover {
  font-weight: bolder;
  text-decoration: underline;
}
span.PASSED {
  color: #00A000;
}
span.FAILED {
  color: #A00000;
}
div#footer {
  font-size: small;
}
div#images {
  border-spacing: 5px;
  padding: 5px;
  margin:0px auto;
  border: 1px dotted; 
}
div#side_desc {
  font-size: small;
  margin:0px auto;
}

.treegrid-indent {
  width:16px; 
  height: 16px; 
  display: inline-block; 
  position: relative;
}

.treegrid-expander {
  width:16px; 
  height: 16px; 
  display: inline-block; 
  position: relative; 
  cursor: pointer;
}

.treegrid-expander-expanded{
  background-image: url(js/collapse.png); 
}

.treegrid-expander-collapsed{
  background-image: url(js/expand.png);
}

.test_path {
  padding-right: 20px;
}
